{% extends 'base.html.twig' %}

{% block body %}

    <h1>Well done !</h1>

    <div id="dialog-success" class="alert alert-info">
        Your subscription has been taken into account. You should received an email with your account details.
    </div>

{% endblock %}